<div class="container">
  <h1>
    {{title}}
  </h1>
  <hr />
  <Dashboard [user]="newUser" *ngIf="newUser.name" (cancleUser)="clearNewUser();"></Dashboard>
  <hr/>
  <h1>Two Way Data Binding: </h1>
  <div class="form-group">
    <label for="name">Name</label>
    <input [(ngModel)]="newUser.name" type="text" class="form-control" id="name" placeholder="Name">
    <label for="name">Address</label>
    <input [(ngModel)]="newUser.address" type="text" class="form-control" id="address" placeholder="Address">
    <label for="name">Phone Number</label>
    <input [(ngModel)]="newUser.phone_number" type="text" class="form-control" id="name" placeholder="Name">
  </div>
  <button type="submit" class="btn btn-primary" (click)="addToList();">Add to List</button>
  <hr/>
  <div>
    <div class="panel panel-primary">
      <div class="panel-heading"> <h3 class="panel-title"> CRUD Example </h3> </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Action</th>
            <th></th>
            <th *ngIf="users.length > 0"></th>
          </tr>
        </thead>

        <tbody *ngFor="let user of users; let i = index;"  [ngSwitch]="user.state">



        <!-- Normal Mode -->
        <tr *ngSwitchDefault>
          <td (click)="alertName(user.name)">{{user.name}}</td>
          <td>{{user.address}}</td>
          <td>{{user.phone_number}}</td>
          <td>
            <button type="submit" (click)="user.state='edit'" class="btn btn-primary">Edit</button>
          </td>
          <td>
            <button type="button" (click)="user.state='delete'" class="btn btn-danger">Delete</button>
          </td>
        </tr>




        <!-- Edit Mode -->
        <tr *ngSwitchCase="'edit'">
          <td><input [(ngModel)]="user.name" type="text"/></td>
          <td><input [(ngModel)]="user.address" type="text"/></td>
          <td>{{user.phone_number}}</td>
          <td>
            <button type="submit" (click)="user.state=''" class="btn btn-info">Save</button>
          </td>
          <td>
          </td>
        </tr>

        <!-- Delete Mode -->
        <tr class="danger" *ngSwitchCase="'delete'">
          <td (click)="alertName(user.name)">{{user.name}}</td>
          <td>{{user.address}}</td>
          <td>{{user.phone_number}}</td>
          <td>
            <button type="submit" (click)="deleteUser(i)" class="btn btn-danger">Confirm Delete</button>
          </td>
          <td>
            <button type="submit" (click)="user.state=''" class="btn btn-default">Cancel</button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
