<div class="container">
  <h1>
    {{title}}
  </h1>
  <hr/>
  <h1>Two Way Data Binding: </h1>
  <div class="form-group">
    <label for="name">Name</label>
    <input [(ngModel)]="name" type="text" class="form-control" id="name" placeholder="Name">
    <label for="address">Address</label>
    <input [(ngModel)]="address" type="text" class="form-control" id="address" placeholder="Address">
    <label for="name">Phone</label>
    <input [(ngModel)]="phone_number" type="text" class="form-control" id="phone_number" placeholder="Phone Number">
  </div>
  <button class="btn btn-danger" (click)="addData();">Submit</button>
  <hr/>
  <div>
        <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody *ngFor="let user of users">
          <tr>
            <td (click)="alertName(user.name)">{{user.name}}</td>
            <td>{{user.address}}</td>
            <td>{{user.phone_number}}</td>
          </tr>
        </tbody>
      </table>

</div>
